<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        span {
            background-color: #d2e89f;
            padding: 10px;
        }
    </style>
</head>
<body>
{% for obj in list %}
    <span>{{ obj }}</span>
{% endfor %}
</body>
</html>